.nav-container {
    text-align: center;
    /* Centra el contenido del contenedor */
    background-color: #333;
    /* Color de fondo del contenedor */
}

.navbar {
    display: inline-block;
    /* Hace que el navbar sea tan ancho como su contenido */
}

.nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-items li {
    display: inline-block;
    margin: 0 15px;
}

.nav-items a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}