body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #0a7336, #151515);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff1b;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform ease-in-out;
    text-align: center;
}

.login-container:hover{
    box-shadow: 0 0 50px 20px rgb(0, 0, 0);
    transform: scale(1.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 15px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}